{% extends 'base.html' %}
{% block content %}
{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/standard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

</head>
<body>
    <div class="homeContainer">
        <div class="home-hero">
            <div class="homeBanner">
                <div class="homeBanner-text">
                    <h1> Catchy Title</h1>
                    <div class = "homeBanner-buttons">
                        <button>Learn More</button>
                    </div> 
                </div>
                <div class="homeBanner-image">
                    <img src="{%static 'media/home-banner.jpg' %}">
                </div>
            </div>
        </div>
        <div class="aboutUs">
            <div class = "aboutUs-text">
                <h2>Some about us information which <br>shows the usp of the company.</h2>
            </div>
            <div class="aboutUs-featured">
                {% for featured_image in featured %}
                    <div class="featured-image">
                        <img src="{{featured_image.image}}" alt="Featured Image">
                    </div>
                {%endfor%}
            </div>
        </div>
        <a href="{% url 'products' %}">Go to Products</a>
    </div>
    
</body>
</html>
{% endblock %}