{% extends 'base.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/standard.css' %}">
</head>
<body>
    <div class = "pageSection">        
        <form method="POST" action="">
            {%csrf_token %}
            <div class = "formGrid">
                <h1>Sign Up</h1>
                <div class="registrationSec">
                    <div>
                        <div class="inputField">
                            <p>First Name*</p>
                            {{ form.first_name }}
                        </div>
                        <div class="inputField">
                            <p>Last Name</p>
                            {{ form.last_name }}
                        </div>
                        <div class="inputField">
                            <p>Email Address*</p>
                            {{ form.email }}
                        </div>
                    </div>
                    <div>
                        <div class="inputField">
                            <p>Username*</p>
                            {{ form.username }}
                        </div>
                        <div class="inputField">
                            <p>Password*</p>
                            {{ form.password1 }}
                        </div>
                        <div class="inputField">
                            <p>Confirm Password*</p>
                            {{ form.password2 }}
                        </div>
                    </div>
                </div>
                <div class ="errorText">
                    {%for message in messages%}
                        {{message}}
                    {%endfor%}
                    
                </div>
                <button type="submit">Become a Member</button>
                <div class="loginLinks">
                    <a href="{%url 'login' %}">Already have an account?</a>
                </div>
            </div>
            
        </form> 
    </div>
</body>
</html>
{% endblock %}