nav{
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 20px;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    margin:auto;
    text-align: center;
    z-index: 1;
    background-color: white;
}

header{
    flex:1;
    display: flex;
    padding-left: 32px;
}

header h1{
    font-size:24px;
    margin:10px 0;
    font-family: 'Playfair Display', serif;
}

header h1 a{
    color:black;
}

.actions{
    flex:1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 36px;
}

.profile-dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-button{
    background-color: #ffffff;
    outline: none;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Poppins', serif;
}

.profile-dropdown-content{
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    right:10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.profile-dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-show{
    display: block;
}

.actions a{
    margin:0 10px;
    font-family: 'Poppins', sans-serif;
    color:black;
    transition: 0.4s ease-in-out;
}

.actions a:hover{
    text-decoration: underline;
}

header img{
    margin-top:10px;
    width:30px;
    height:30px;
}