{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <header><img src="{%static 'media/logo.png' %}" ><h1><a href ="{% url 'home' %}">Company's Name</a></h1></header>
        <div class="actions">
            {% if user.is_authenticated %}
                <div class = "profile-dropdown">
                    <button onclick="profileDropdown()" class="dropdown-button"> Welcome Back {{user.first_name}}</button>
                    <div id="profileDropdown" class="profile-dropdown-content">
                        <a href="{% url 'account' %}">Profile</a>
                        <a href="{%url 'logout'%}">Logout</a> 
                    </div>
                </div>  
            {%else%}
                <a href="{%url 'login'%}">Sign In</a>
                <a href="{%url 'register'%}">Register</a>
            {%endif%}
        </div>
    </nav> 

    <div class="content container">
        {% block content %}
        {% endblock %}
    </div>
    <script>
        function profileDropdown() {
            document.getElementById("profileDropdown").classList.toggle("dropdown-show");
          }
          window.onclick = function(event) {
            if (!event.target.matches('.dropdown-button')) {
              var dropdowns = document.getElementsByClassName("profile-dropdown-content");
              var i;
              for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('dropdown-show')) {
                  openDropdown.classList.remove('dropdown-show');
                }
              }
            }
          }
    </script>
</body>

</html>