{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/products.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/standard.css' %}">
</head>
<body>
    <div class="productPageSection">
        <div class="productHeading">
            <h1>All Products.</h1>
        </div>
        <div class="productSection">
            {%for product in products%}
            <div class="productCard">
                {% if product.offer == True and product.discount_price != 0%}
                    <div class="productOffer">
                        Special Offer
                    </div>
                {%endif%}
                <img src = "{{product.image.url}}" alt ="Product's Image">
                <div class="productInfo">
                    <div class="productTitle">
                        {{product.title}}
                    </div>
                    <div class="productDescription">
                        {{product.description}}
                    </div>      
                    <div class="productPrice">
                        {%if product.discount_price != 0 %}
                            <div class="actualPrice">
                                ${{product.price}}
                            </div>
                            <div class="discountPrice">
                                ${{product.discount_price}}
                            </div>
                        {%else%}
                            ${{product.price}}
                        {%endif%}
                    </div>
                </div>
                <div class="productActions">
                    <i class="material-icons colored">visibility</i>
                    <i class="material-icons colored change">favorite_border</i>
                    <i class="material-icons colored">add_shopping_cart</i>
                </div>
            </div>
            {%endfor%}
        </div>

    </div>

</body>
</html>
{% endblock %}