<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <div>
        <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">SIGN UP</h1>
        <form method="POST" action="">
            {%csrf_token %}
            {{ form }}
            
            <input type="submit">
            <button><a href="">Already a Member</a></button>
        </form>
    </div>
</body>
</html>